<body class="sb-nav-fixed">
  <div class="container">
    <router-outlet></router-outlet>
    <header class="jumbotron">
      <h3>
        <strong>{{ ticket.titre }}</strong> Details
      </h3>
    </header>
    <p>
      <strong>Image:</strong>
      <img [src]="'http://localhost:4200/api/ticket/uploads/' + ticket.image" class="img-fluid" alt="Responsive image">
    </p>
    <p>
      <strong>Titre:</strong>
      {{ ticket.titre }}
    </p>
    <p>
      <strong>Description:</strong>
      {{ ticket.description }}
    </p>
    <p>
      <strong>Date de création:</strong>
      {{ ticket.date_creation }}
    </p>
    <p>
      <strong>Date d'échéance:</strong>
      {{ ticket.date_echeance }}
    </p>
    <p>
      <strong>Statut:</strong>
      {{ ticket.statut }}
    </p>
    <p>
      <strong>Type:</strong>
      {{ ticket.type }}
    </p>
    <p>
      <strong>Urgence:</strong>
      {{ ticket.urgence }}
    </p>
    <p>
      <strong>Priorité:</strong>
      {{ ticket.priorite }}
    </p>
    <p>
      <strong>Impact:</strong>
      {{ ticket.impact }}
    </p>

    <div class="form-row" *ngIf="user.roles.includes('ROLE_ADMIN')">
      <label for="attribuea">Affecter à</label>
      <div class="input-group">
        <div class="rs-select2 js-select-simple select--no-search">
          <select id="attribuea" [(ngModel)]="ticket.attribuea">
            <option class="form-control" formControlName="attribuea" *ngFor="let user of users" value="user.id">
              {{user.nom}}</option>
          </select>
          <div class="select-dropdown"></div>
        </div>
      </div>
    </div>

    <button routerLink="/updateticket/{{ ticket.ticket_id }}" 
      class="btn btn-sm btn-danger btn-delete-user">
      <span>modifier</span>
    </button>

    <button (click)="Affecter(ticket.ticket_id)" class="btn btn-sm btn-danger btn-delete-user" *ngIf="user.roles.includes('ROLE_ADMIN')">

      <span>Affecter</span>
    </button>


  </div>

  <ng-template #loggedOut>
    Please login.
  </ng-template>
</body>