<body>
    <main>
        <div class="container-fluid">
            <router-outlet></router-outlet>

            <h1 class="mt-4">Utilisateurs</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a routerLink="/admin" routerLinkActive="active">Accueil</a></li>
                <li class="breadcrumb-item active">Utilisateurs</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <svg class="svg-inline--fa fa-table fa-w-16 mr-1" aria-hidden="true" focusable="false"
                        data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512" data-fa-i2svg="">
                        <path fill="currentColor"
                            d="M464 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM224 416H64v-96h160v96zm0-160H64v-96h160v96zm224 160H288v-96h160v96zm0-160H288v-96h160v96z">
                        </path>
                    </svg><!-- <i class="fas fa-table mr-1"></i> Font Awesome fontawesome.com -->
                    Listes des Utilisateurs
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 ">
                                    <nav>
                                        <input type="text" class="form-control" name="nom" [(ngModel)]="nom"
                                            (ngModelChange)="Search()" placeholder="Rechercher ..."
                                            aria-controls="dataTable">
                                    </nav>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                    cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Position: activate to sort column ascending"
                                                style="width: 145px;">Nom</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Position: activate to sort column ascending"
                                                style="width: 145px;">Prénom</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Position: activate to sort column ascending"
                                                style="width: 145px;">Phone</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Position: activate to sort column ascending"
                                                style="width: 145px;">Username</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Position: activate to sort column ascending"
                                                style="width: 145px;">Email</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Position: activate to sort column ascending"
                                                style="width: 145px;">Gender</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Position: activate to sort column ascending"
                                                style="width: 145px;">tatus</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Position: activate to sort column ascending"
                                                style="width: 145px;">Bannir</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Position: activate to sort column ascending"
                                                style="width: 145px;">Action</th>
                                    </thead>

                                    <tbody>
                                        <tr role="row" class="odd"
                                            *ngFor="let utilisateur of users | paginate: {itemsPerPage:5,currentPage:p};">
                                            <td>{{utilisateur.nom}}</td>
                                            <td>{{utilisateur.prenom}}</td>
                                            <td>{{utilisateur.phone}}</td>
                                            <td>{{utilisateur.username}}</td>
                                            <td>{{utilisateur.email}}</td>
                                            <td>{{utilisateur.gender}}</td>
                                            <td>{{utilisateur.status ? "active" : "desactive"}}</td>

                                            <td> <button class="btn btn-sm btn-danger btn-delete-user"
                                                    *ngIf="utilisateur.status"
                                                    (click)="updateStatus(false,utilisateur)">
                                                    Bannir
                                                </button>
                                                <button *ngIf="!utilisateur.status" class="btn btn-primary"
                                                    (click)="updateStatus(true,utilisateur)">
                                                    Héberger
                                                </button>
                                            </td>

                                            <td>
                                                <div class="dropdown show">
                                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                                        id="dropdownMenuLink" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <a mat-button class="dropdown-item"
                                                            (click)="deleteUser(utilisateur.user_id)">Supprimer</a>
                                                        <a class="dropdown-item" mat-button
                                                            (click)="openDialog(utilisateur)">details</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <ng-template #modalContent let-close="close">
        <section id="horizontal-form-layouts">

            <section class="inputs-icons">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header  align-self-center">


                            </div>
                            <div class="card-body">

                                <div class="px-3">
                                    <form class="form">

                                        <div class="form-group row">
                                            <label>Image :</label>
                                            <p> <img [src]="'http://localhost:4200/api/ticket/uploads/' + utilisateur.image"
                                                    class="img-fluid" alt="Responsive image" width="300" height="400">
                                            </p>

                                        </div>
                                        <div class="form-group row">
                                            <label>Nom :</label>
                                            <p style="text-indent:10px;"> {{utilisateur.nom}}</p>
                                        </div>

                                        <div class="form-group row">
                                            <label> Prenom :</label>
                                            <p style="text-indent:10px;"> {{utilisateur.prenom}}</p>
                                        </div>

                                        <div class="form-group row">
                                            <label>Nom d'utilisateur :</label>
                                            <p style="text-indent:10px;"> {{utilisateur.username}}</p>
                                        </div>

                                        <div class="form-group row">
                                            <label>Email :</label>
                                            <p style="text-indent:10px;"> {{utilisateur.email}}</p>
                                        </div>

                                        <div class="form-group row">
                                            <label>Mobile :</label>
                                            <p style="text-indent:10px;"> {{utilisateur.phone}}</p>
                                        </div>

                                        <div class="form-group row">
                                            <label>Sexe :</label>
                                            <p style="text-indent:10px;"> {{utilisateur.gender}}</p>
                                        </div>

                                        <button mat-button mat-dialog-close>Close</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

    </ng-template>
</body>