<body>
    <main>
        <div class="container-fluid">
            <router-outlet></router-outlet>
            <h1 class="mt-4">Modifier un ticket</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Accueil</a></li>
                <li class="breadcrumb-item active">Modifer un ticket</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="titre">Titre</label>
                            <input type="text" class="form-control" formControlName="titre" name="titre" required
                                minlength="3" maxlength="20" />
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" name="description" formControlName="description"
                                required minlength="3" maxlength="20" />
                        </div>


                        <div class="form-group">
                            <label for="type">Type</label>
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="type" formControlName="type" class="form-control">
                                        <option value="Incident" formControlName="type" name="type">Incident</option>
                                        <option value="Demande" formControlName="type" name="type">Demande</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="urgence">Urgence</label>
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="urgence" formControlName="urgence" class="form-control">
                                        <option name="urgence" formControlName="urgence" value="Haute">Haute</option>
                                        <option name="urgence" formControlName="urgence" value="Moyenne">Moyenne
                                        </option>
                                        <option name="urgence" formControlName="urgence" value="Basse">Basse</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="impact">Impact</label>
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="impact" formControlName="impact" class="form-control">
                                        <option name="impact" formControlName="impact" value="Haut">Haut</option>
                                        <option name="impact" formControlName="impact" value="Moyen">Moyen</option>
                                        <option name="impact" formControlName="impact" value="Bas">Bas</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="priorite">Priorité</label>
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="priorite" formControlName="priorite" class="form-control">
                                        <option name="priorite" formControlName="priorite" value="Haute">Haute</option>
                                        <option name="priorite" formControlName="priorite" value="Moyenne">Moyenne
                                        </option>
                                        <option name="priorite" formControlName="priorite" value="Basse">Basse</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary">
                                <span class="spinner-border spinner-border-sm mr-1"></span>
                                Save
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
</body>