<body>
    <main>
        <div class="container-fluid">
            <router-outlet></router-outlet>
            <h1 class="mt-4">Tickets</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Accueil</a></li>
                <li class="breadcrumb-item active">Tickets</li>
            </ol>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="form-row">
                    <label for="titre">Titre</label>
                    <input type="text" class="form-control" formControlName="titre" name="titre" required minlength="3"
                        maxlength="20" />
                </div>
                <div class="form-row">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description" formControlName="description" required
                        minlength="3" maxlength="20" />
                </div>

                <div class="form-group">
                    <label for="date_creation">Date de création</label>
                    <input id="date_creation" name="date_creation" formControlName="date_creation" class="form-control"
                        type="date" />
                </div>

                <div class="form-group">
                    <label for="date_echeance">Date d'échéance</label>
                    <input id="date_echeance" name="date_echeance" formControlName="date_echeance" class="form-control"
                        type="date" />
                </div>

                <div class="form-row">
                    <label for="type">Type</label>
                    <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="type" formControlName="type">
                                <option value="Incident" formControlName="type" name="type">Incident</option>
                                <option value="Demande" formControlName="type" name="type">Demande</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <label for="statut">Statut</label>
                    <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="statut" formControlName="statut">
                                <option name="statut" formControlName="statut" value="Nouveau">Nouveau</option>
                                <option name="statut" formControlName="statut" value="En cours">En cours</option>
                                <option name="statut" formControlName="statut" value="Résolu">Résolu</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <label for="urgence">Urgence</label>
                    <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="urgence" formControlName="urgence">
                                <option name="urgence" formControlName="urgence" value="Haute">Haute</option>
                                <option name="urgence" formControlName="urgence" value="Moyenne">Moyenne</option>
                                <option name="urgence" formControlName="urgence" value="Basse">Basse</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label for="impact">Impact</label>
                    <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="impact" formControlName="impact">
                                <option name="impact" formControlName="impact" value="Haut">Haut</option>
                                <option name="impact" formControlName="impact" value="Moyen">Moyen</option>
                                <option name="impact" formControlName="impact" value="Bas">Bas</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <label for="priorite">Priorité</label>
                    <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="priorite" formControlName="priorite">
                                <option name="priorite" ngDefaultControl value="Haute">Haute</option>
                                <option name="priorite" ngDefaultControl value="Moyenne">Moyenne</option>
                                <option name="priorite" ngDefaultControl value="Basse">Basse</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="name">Demandeur</div>
                    <div class="value">
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <mat-select name="subject">
                                    <mat-option disabled="disabled" selected="selected">Choose option</mat-option>
                                    <mat-option>Subject 1</mat-option>
                                    <mat-option>Subject 2</mat-option>
                                    <mat-option>Subject 3</mat-option>
                                </mat-select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="name">Attribué à </div>
                    <div class="value">
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <mat-select name="subject">
                                    <mat-option disabled="disabled" selected="selected">Choose option</mat-option>
                                    <mat-option>Subject 1</mat-option>
                                    <mat-option>Subject 2</mat-option>
                                    <mat-option>Subject 3</mat-option>
                                </mat-select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <button class="btn btn--radius-2 btn--red" type="submit">Modifer</button>
                </div>
            </form>
        </div>

    </main>
</body>