<body class="sb-nav-fixed">
  <div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        <strong>{{ user.username }}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Image:</strong>
      <img [src]="'http://localhost:4200/api/ticket/uploads/' + user.image" class="img-fluid" alt="Responsive image" width="300" height="400">
    </p>
    <p>
      <strong>Nom:</strong>
      {{ user.nom }}
    </p>
    <p>
      <strong>Prenom:</strong>
      {{ user.prenom }}
    </p>
    <p>
      <strong>Phone:</strong>
      {{ user.phone }}
    </p>
    <p>
      <strong>Gender:</strong>
      {{ user.gender }}
    </p>
    <p>
      <strong>Status:</strong>
      {{ user.status }}
    </p>
    <p>
      <strong>Username:</strong>
      {{ user.username }}
    </p>

    <p>
      <strong>Token:</strong>
      {{ currentUser.accessToken.substring(0, 20) }} ...
      {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
    </p>
    <p>
      <strong>Email:</strong>
      {{ user.email }}
    </p>
    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>

    <button routerLink="/updateuser/{{ currentUser.id }}" routerLinkActive="active"
      class="btn btn-sm btn-danger btn-delete-user">

      <span>modifier</span>
    </button>

  </div>

  <ng-template #loggedOut>
    Please login.
  </ng-template>
  <main>
    <router-outlet></router-outlet>
  </main>
</body>