
<body>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Tickets</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a routerLink ="/" routerLinkActive="active">Accueil</a></li>
                    <li class="breadcrumb-item active">Tickets</li>
                </ol>
                                

                                <div class="form-row">
                                    <div class="name">Titre</div>
                                    <div class="value">
                                        <div class="input-group">
                                            <input class="input--style-5" type="text" name="company">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name" for="name" >Description</div>
                                    <div class="value">
                                        <div class="input-group">
                                            <input class="input--style-5" type="text"
                                            class="form-control"
                                            id="name"
                                            required
                                            [(ngModel)]="utilisateur.name"
                                            name="name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Ouveert le </div>
                                    <div class="value">
                                        <div class="input-group">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="subject">
                                                    <option disabled="disabled" selected="selected">Choose option</option>
                                                    <option>Subject 1</option>
                                                    <option>Subject 2</option>
                                                    <option>Subject 3</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Date d'écheance </div>
                                    <div class="value">
                                        <div class="input-group">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="subject">
                                                    <option disabled="disabled" selected="selected">Choose option</option>
                                                    <option>Subject 1</option>
                                                    <option>Subject 2</option>
                                                    <option>Subject 3</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Type </div>
                                    <div class="value">
                                        <div class="input-group">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="subject">
                                                    <option disabled="disabled" selected="selected">Choose option</option>
                                                    <option>Subject 1</option>
                                                    <option>Subject 2</option>
                                                    <option>Subject 3</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Catégorie </div>
                                    <div class="value">
                                        <div class="input-group">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="subject">
                                                    <option disabled="disabled" selected="selected">Choose option</option>
                                                    <option>Subject 1</option>
                                                    <option>Subject 2</option>
                                                    <option>Subject 3</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Statut </div>
                                    <div class="value">
                                        <div class="input-group">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="subject">
                                                    <option disabled="disabled" selected="selected">Choose option</option>
                                                    <option>Subject 1</option>
                                                    <option>Subject 2</option>
                                                    <option>Subject 3</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Urgence </div>
                                    <div class="value">
                                        <div class="input-group">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="subject">
                                                    <option disabled="disabled" selected="selected">Choose option</option>
                                                    <option>Subject 1</option>
                                                    <option>Subject 2</option>
                                                    <option>Subject 3</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Impact </div>
                                    <div class="value">
                                        <div class="input-group">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="subject">
                                                    <option disabled="disabled" selected="selected">Choose option</option>
                                                    <option>Subject 1</option>
                                                    <option>Subject 2</option>
                                                    <option>Subject 3</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Priorité </div>
                                    <div class="value">
                                        <div class="input-group">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="subject">
                                                    <option disabled="disabled" selected="selected">Choose option</option>
                                                    <option>Subject 1</option>
                                                    <option>Subject 2</option>
                                                    <option>Subject 3</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Demandeur </div>
                                    <div class="value">
                                        <div class="input-group">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="subject">
                                                    <option disabled="disabled" selected="selected">Choose option</option>
                                                    <option>Subject 1</option>
                                                    <option>Subject 2</option>
                                                    <option>Subject 3</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="form-row">
                                    <div class="name">Attribué à </div>
                                    <div class="value">
                                        <div class="input-group">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="subject">
                                                    <option disabled="disabled" selected="selected">Choose option</option>
                                                    <option>Subject 1</option>
                                                    <option>Subject 2</option>
                                                    <option>Subject 3</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div>
                                    <button class="btn btn--radius-2 btn--red"  (click)="newProduct()" >Ajouter</button>
                                </div>
                        
                            </div>
               
        </main>
    </div>
</body>