<body>
  <main>
    <div class="container-fluid">
      <router-outlet></router-outlet>
      <h1 class="mt-4">Ajouter au stock</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Accueil</a></li>
        <li class="breadcrumb-item active">Ajouter au stock</li>
      </ol>

      <div class="card mb-4">
        <div class="card-header">

          <form name="stock" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="stock.name" required minlength="3"
                maxlength="20" #nom="ngModel" />
            </div>

            <div class="form-group">
              <label for="modele">Modéle</label>
              <input type="text" class="form-control" name="modele" [(ngModel)]="stock.modele" required minlength="3"
                maxlength="20" #nom="ngModel" />
            </div>


            <div class="form-group">
              <label for="categorie">Catégorie</label>
              <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search">
                  <select (change)="getScat($event)">
                    <option *ngFor="let categorie of categories" [value]="categorie.id">
                      {{categorie.name}}</option>
                  </select>
                  <div class="select-dropdown"></div>
                </div>
              </div>
            </div>


            <div class="form-group">
              <label for="sous_categorie">Sous Catégorie</label>
              <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search">
                  <select name="sous_categorie" [(ngModel)]="scat_id">
                    <option *ngFor="let scategorie of scategories" [value]="scategorie.id">
                      {{scategorie.name}}</option>
                  </select>
                  <div class="select-dropdown"></div>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="p-field p-col-12 p-md-3">
                <label for="quantite">Quantité</label>
                <input type="number" class="form-control" name="quantite" [(ngModel)]="stock.quantite" mode="decimal"
                  inputId="quantite" [min]="0" [max]="100" />

              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Ajouter</button>
              <a routerLink="/stock" class="btn btn-link">Cancel</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </main>
</body>